
font-family: "open-sans",sans-serif;
font-family: "open-sans-condensed",sans-serif;
font-family: "museo-slab",serif;
*/

body{font-family: "open-sans",sans-serif;}

.navbar .brand {
	font-size: 16px;
	padding: 0;
	line-height: 40px;
	color: #000000;
	float: right;
	font-weight: bold;
	margin-left: 20px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.125);
}

#main-container {
	margin:0 auto;
}

.container{
	max-width:1200px;
}

.api-buttons {
	margin-top: 20px;
}

.api-buttons > a {
	margin-right: 10px;
}

.price {
	font-size: 25px !important;
	line-height: 26px !important;
	position: absolute;
	top: 15px;
	right: 19px;
}


/*SIDEBAR*/
section.fpd-sidebar {
	width:330px;
	position:absolute;
	top:0px;
	left:0px;
	z-index:9;
	background:#f7f7f7;
	box-shadow:1px 0px 10px #000000;
}

section.fpd-sidebar > div{
	float:left;
	height:auto;
}


section.fpd-sidebar .logo{
	height:75px;
	width:200px;
	position:relative;
	display:block;
	margin:20px 20px;	
}

section.fpd-sidebar .logo h6{
	text-align:center;
	font-size:18px;
	margin:5px 0;	
}


.fpd-product-container {
	margin-left:335px !important;
}

#accordion {
	min-height: 800px;
}

#accordion .panel-heading {
    background:none !important;
    border:0px !important;
}

#accordion .panel-default {
    background:none !important;
    border:0px !important;
    box-shadow: none;
    overflow: visible; /* zza edit */
}

#accordion .panel-body{
	border:0px !important;
	padding:0px 20px 10px 70px;
} 

#accordion .panel-heading a{
	font-family: "open-sans",sans-serif;
	font-size:24px;
	color:#828282;
	display:block;
	padding:15px 15px;
	text-decoration:none;
	outline:0;
}

#accordion .panel-heading a:hover{
	text-decoration:none;
}


#accordion .panel-heading a img{
	margin-right:15px;
}

#accordion .panel-body .title{
	font-family: "open-sans",sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size:18px;
}

.shirt-colors{
	position:relative;
	display:block;
	overflow:hidden;
}

.shirt-colors .color{
	background:#000;
	width:23px;
	height:23px;
	float:left;
	margin-right:7px;
}

.shirt-colors .color:last-child{
	margin-right:0px;
}


.image-color{
	background:#000;
	width:23px;
	height:23px;
	float:left;
	margin-left:7px;
}


.select{
	position:relative;
}

.select .dropdown{
	background:#E8E8E8;
	padding:5px 10px;
	color:#333;
	font-size:18px;
	text-decoration:none;
}

.select .dropdown-menu{
	margin-top:5px;
}

.select .dropdown-menu li a{
	padding:3px 10px;
}



.shapes ul {
    height: 100%;
    overflow: hidden;
}

.shapes ul li{
	cursor: pointer;
    float: left;
    height: 70px;
    padding: 10px;
    position: relative;
    width: 50%;
}

.shapes ul li img{
	display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    position: relative;
}

.selected-image ul li{
	float:left;
}

.fpd-product-container{
	display:block;
}

.add-text{
	position:relative;
}

.add-text textarea{
	width:250px;
	height:70px;
	margin-bottom:10px;
}

/*
//////////////////////////////////
////// CHANGES STARTS HERE! //////
//// overwritting plugin css /////
//////////////////////////////////
*/

.fpd-content {
	width: 100%!important;
	background: none;
}

#accordion {
	display: block!important;
}

.fpd-navigation {
	display: none!important;
}

.fpd-sidebar > .fpd-content > div {
	padding: 0;
}

.fpd-designs,
.fpd-designs > ul {
	height: 100%;
	overflow: visible;
}

.fpd-designs > ul > li, .fpd-saved-products > ul > li {
	width: 33%;
	height: 70px;
	padding: 10px;
	float: left;
	border-top: none;
	cursor: pointer;
	position: relative;
}

.fpd-designs > ul > li > img, .fpd-saved-products > ul > li > img {
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: 0 auto;
	position: relative;
}

.fpd-saved-products ul {
	margin-left: -20px;
	margin-top: 30px;
}

.fpd-in-user-photos {
	/*height: 205px;*/
}

.fpd-in-user-photos-list {
	height: auto!important;
}

.fpd-in-user-photos > ul > li  {
	width: 31%;
	height: 70px;
	padding: 5px 0px;
	float: left;
	border-top: none;
	cursor: pointer;
	position: relative;
}

.fpd-in-user-photos > ul > li > img {
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: 0 auto;
	position: relative;
}

.fpd-product-container > .fpd-product-stage{background:none; overflow: visible!important;}

.fpd-designs > ul > li:nth-child(2n) {
	border-right: none;
	border-left: none;
}

/*
////////////////////
////// COMMON //////
////////////////////
*/

.fpd-menu-bar {
	display: none;
}

section.fpd-sidebar .logo h6 {
	color: #828282;
}


/*
//////////////////////////////
//// upload button reset /////
//////////////////////////////
*/

.fpd-button-submit {
	background: none!important;
}

.fpd-submit {
	font-size: 14px;
	color: #428bca;
}

/*
//////////////////////////
//// select image tab ////
//////////////////////////
*/

ul#imageSelectTab {
	background: none;
	border: none;
}

ul#imageSelectTab li {
	background: none;
	border: none;
}

ul#imageSelectTab li a {
	background: none;
	border: none;
	padding: 0 5px;
}

.tab-pane {
	display: none;
}

.active {
	display: block;
}

/*
///////////////////////////////////
///////// select text tab /////////
///////////////////////////////////
*/
#accordion #customText {
	padding: 0px 20px 0px 65px;
}

#customText .add-text {
	margin-top: -27px;
}

#customText .add-text textarea {
	width: 238px;
	height: 50px;
	margin-bottom: 0px;
}





/*
///////////////////////////
/////// dropdown fix //////
///////////////////////////
*/

.select .dropdown {
	width: 235px;
	display: block;
	padding: 3px 10px;
}

.dropdown-menu {
	width: 235px;
	z-index: 999;
}

/*
///////////////////////
//////// caret ////////
///////////////////////
*/

.caret {
	position: absolute;
	top: 12px;
	right: 12px;
	border-top: 8px solid;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
}

/*
////////////////////////////
//////// custom btn ////////
////////////////////////////
*/

.custom-btn {
	background: black!important;
	padding: 11px;
	color: white;
	font-size: 15px;
	text-align: center;
	display: block;
	margin: 10px auto;
	width: 80%;
}

.custom-btn:hover {
	background: #828282!important;
	text-decoration: none;
}

.add-to-cart-btn {
	width: auto;
	border: none;
	margin: 21px 0;
	padding: 6px 10px;
	display: inline-block;
}

.fpd-save-product {
	/*width: auto;*/
	border: none;
	margin: 21px 0;
	padding: 6px 10px;
	display: block;
}

.fpd-button-instagram {
	background: url(../images/in_connect.png) no-repeat;
	text-indent: -99999px;
	width: 235px;
	height: 40px;
	display: block;
	margin-top: 11px;
	margin-bottom: 11px;
}

/*
//////////////////////////
/////// select ///////////
//////////////////////////
*/

.select .fpd-designs .chosen-container a.chosen-single {
	background:#E8E8E8;
	padding:0px 10px;
	color:#333;
	font-size:18px;
	text-decoration:none;
	border: none;
	box-shadow: none;
}


.fpd-edit-elements .chosen-container {
	max-width: 100%!important;
}

/*
////////////////////////////////////////
///////////// tool bar  ////////////////
////////////////////////////////////////
*/

#customText .custom-text-toolbar, #imageselect .fpd-toolbar {
	background: #E8E8E8;
	/*width: 230px;*/
	min-height: 65px;
}

#customText .font-toolbar {
	background: none; /*remove background for font dropdown*/
	display: inline-block!important;
	width: 100%;
}

#customText .fpd-toolbar > div, #imageselect .fpd-toolbar > div {
	margin: 5px 10px 0 0;
	padding: 0 0 0 10px;
	display: inline-block;
	float: left;
	width: 80px;
	border-left: 1px solid #eee;
	height: 85%;
}

#customText .font-toolbar > div {
	border: none; /*remove border for font dropdown*/
	/*margin: 0px!important;*/
	padding: 0px;
	width: 100%;
}

#customText .fpd-toolbar > div {
	margin: 5px 10px 10px 0;
}

#customText label, #imageselect label {
	display: block;
	font-weight: normal;
}

#customText .fpd-toolbar > .fpd-element-buttons, #imageselect .fpd-toolbar > .fpd-element-buttons {
	display: inline-block;
	width: 60px;
}

#customText .fpd-toolbar .currentText, #imageselect .fpd-toolbar .currentClipArt {
	width: 60px;
	height: 90%;
	padding: 6px 12px;
}

#customText .fpd-customize-text {
	margin-bottom: 20px;
}

#customText .currentText img, #imageselect .currentClipArt img {
	max-width: 100%;
	max-height: 100%;
}

#customText .fpd-trash, #imageselect .fpd-trash {
	display: block;
	margin: 0 auto;
}

#customText .fpd-trash, #imageselect .fpd-button {
	background:#999;
}
#customText .fpd-trash, #imageselect .fpd-button span {
	font-weight:bold;
}

#customText .fpd-toolbar {
	display: none;
}

ul.color-list li {
	display: inline-block;
	margin-right: 6px;
}

#addMoreText {
	width: 71px;
	font-size: 11px;
	line-height: 14px;
	height: 23px;
	padding: 0;
	display: inline-block;
	background-color: #C1CFD9!important;
}

/*
//////////////////////////////////////
//////// print side select ///////////
//////////////////////////////////////
*/

.side-print {
	margin-bottom: 10px!important;
}

.side-print label {
	margin-right: 10px;
}

/*
//////////////////////////////////
//////// gender select ///////////
//////////////////////////////////
*/

.gender-select {
	margin-bottom: 5px!important;
}

.gender-select label {
	margin-right: 10px;
}

.gender-select input[type="radio"] {
	margin-right: 15px;
}

/*
/////////////////////////////////
/////////// input qty ///////////
/////////////////////////////////
*/

input[name="qty"] {
	width: 40px;
	height: 34px;
	display: inline-block;
	padding-left: 7px;
}


/* 
/////////////////////////////////
////////// PRELOADER ////////////
/////////////////////////////////
*/

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999999;
  width: 100%;
  height: 100%; }

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -100px 0 0 -100px;
  color: #fff;
  text-align: center; 
}


/*
OVERLAY
*/
.overlay{
	display:none;
	position:fixed;
	width:100%;
	height:100%;
	background:#fff;	
	z-index:99999999;
}

.overlay .message{
	display:block;
	position:absolute;
	overflow:hidden;
	top:40%;
	left:40%;	
}

.overlay .message p{
	color:#000000;
	text-align:center;
	margin:0px;
}

.overlay .message p.line1{
	font-size:22px;
	font-weight:bold;
}

.overlay .message p.line2{
	font-size:22px;
	font-weight:bold;
}

.overlay .message p.line3{
	font-size:14px;
}



