
/*DATATABLE*/
.dataTables_wrapper {
	position: relative;
	clear: both;
	margin-bottom: 15px;
}

.dataTables_wrapper::after {
	clear: both;
	display: block;
	content: '';
}

.dataTables_length {
	float: left;
	margin-bottom: 10px;
}

.dataTables_length::after {
	clear: both;
	display: block;
	content: '';
}

.dataTables_length label {
	display: inline-block;
}

.dataTable {
	display: inline-table;
	margin-bottom: 15px;
}

.dataTable:before {
	display: block;
	clear: both;
	content: '';
}

.dataTable thead > tr > th {
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 97% center;
}

.dataTables_filter {
	float: right;
	text-align: right;
	margin-bottom: 10px;
}

.dataTables_filter:after {
	display: block;
	clear: both;
	content: '';
}

.dataTables_filter input {
	border: 1px solid #ddd;
	padding: 10px;
	font-zize: 13px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin-left: 5px;
}

.dataTables_filter input:focus {
	border-color: #999;
	-moz-box-shadow: 3px 3px 0 rgba(0,0,0,0.05);
	-webkit-box-shadow: 3px 3px 0 rgba(0,0,0,0.05);
	box-shadow: 3px 3px 0 rgba(0,0,0,0.05);
}

.dataTables_info {
	clear: both;
	float: left;
}

.dataTables_paginate {
	float: right;
	text-align: right;
}

/* Two button pagination - previous / next */
.paginate_disabled_previous,
.paginate_enabled_previous,
.paginate_disabled_next,
.paginate_enabled_next {
	float: left;
	cursor: pointer;
	padding: 6px 15px;
	display: inline-block;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #666;
}

.paginate_enabled_previous,
.paginate_enabled_next {
	color: #fff;
	background: #428BCA;
	border: 1px solid #357EBD;
}

.paginate_enabled_previous:hover,
.paginate_enabled_next:hover {
	color: #fff;
	background: #3276B1;
	border-color: #285E8E;
	color: #fff;
	text-decoration: none;
}

.paginate_disabled_previous,
.paginate_disabled_next {
	border: 1px solid #ccc;
	background-color: #ddd;
	color: #999;
}

.paginate_disabled_previous:hover,
.paginate_disabled_next:hover {
	text-decoration: none;
	color: #999;
	cursor: default;
}

.paginate_disabled_next,
.paginate_enabled_next {
	margin-left: 5px;
}


/* Full number pagination */
.paging_full_numbers {
	line-height: 22px;
	
}
.paging_full_numbers a:active {
	outline: none
}
.paging_full_numbers a:hover {
	text-decoration: none;
}

.paging_full_numbers a.paginate_button,
.paging_full_numbers a.paginate_active {
	border: 1px solid #ddd;
	padding: 6px 12px;
	margin-right: 5px;
	cursor: pointer;
	color: #636E7B;
	line-height: 21px;
	float: left;
	position: relative;
	background: #fff;
	display: inline-block;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.paging_full_numbers > li:first-child > a,
.paging_full_numbers > li:first-child > span {
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
}

.paging_full_numbers a.paginate_button:hover {
	text-decoration: none !important;
	background-color: #E4E7EA;
}

.paging_full_numbers a.paginate_active {
	background-color: #1CAF9A;
	border-color: #1CAF9A;
	color: #fff;
}

.paging_full_numbers a:focus {
	text-decoration: none;
}

.paging_full_numbers a.last {
	margin-right: 0;
}

.paginate_button_disabled {
	opacity: 0.5;
}

.paginate_button_disabled:hover {
	cursor: default !important;
	background-color: #fff !important;
}


/*
 * Processing indicator
 */
.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 14px;
	background-color: white;
}


/*
 * Sorting
 */
.sorting {
	background-image: url('../images/sort_both.png');
}

.sorting_asc {
	background-image: url('../images/sort_asc.png');
}

.sorting_desc {
	background-image: url('../images/sort_desc.png');
}

.sorting_asc_disabled {
	background-image: url('../images/sort_asc_disabled.png');
}

.sorting_desc_disabled {
	background-image: url('../images/sort_desc_disabled.png');
}
 
table.dataTable thead th:active,
table.dataTable thead td:active {
	outline: none;
}


/*
 * Scrolling
 */
.dataTables_scroll {
	clear: both;
}

.dataTables_scrollBody {
	*margin-top: -1px;
	-webkit-overflow-scrolling: touch;
}








/*FILE UPLOAD*/
.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";line-height:0;}
.clearfix:after{clear:both;}
.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.input-block-level{display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.btn-file{overflow:hidden;position:relative;vertical-align:middle;}.btn-file>input{position:absolute;top:0;right:0;margin:0;opacity:0;filter:alpha(opacity=0);transform:translate(-300px, 0) scale(4);font-size:23px;direction:ltr;cursor:pointer;}
.fileupload .uneditable-input{display:inline-block;margin-bottom:0px;vertical-align:middle;cursor:text;background: #fff;}
.fileupload .thumbnail{overflow:hidden;display:inline-block;margin-bottom:5px;vertical-align:middle;text-align:center;}.fileupload .thumbnail>img{display:inline-block;vertical-align:middle;max-height:100%;}
.fileupload .btn{vertical-align:middle; line-height: 21px; margin-left: -5px; }
.fileupload-exists .fileupload-new,.fileupload-new .fileupload-exists{display:none;}
.fileupload-inline .fileupload-controls{display:inline;}
.fileupload-new .input-append .btn-file{-webkit-border-radius:0 2px 2px 0;-moz-border-radius:0 2px 2px 0;border-radius:0 2px 2px 0;}
.thumbnail-borderless .thumbnail{border:none;padding:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.fileupload-new.thumbnail-borderless .thumbnail{border:1px solid #ddd;}
.control-group.warning .fileupload .uneditable-input{color:#a47e3c;border-color:#a47e3c;}
.control-group.warning .fileupload .fileupload-preview{color:#a47e3c;}
.control-group.warning .fileupload .thumbnail{border-color:#a47e3c;}
.control-group.error .fileupload .uneditable-input{color:#b94a48;border-color:#b94a48;}
.control-group.error .fileupload .fileupload-preview{color:#b94a48;}
.control-group.error .fileupload .thumbnail{border-color:#b94a48;}
.control-group.success .fileupload .uneditable-input{color:#468847;border-color:#468847;}
.control-group.success .fileupload .fileupload-preview{color:#468847;}
.control-group.success .fileupload .thumbnail{border-color:#468847;}
.uneditable-input {
   border: 1px solid #ccc; height: 35px; padding: 6px 10px; width: 200px; overflow: hidden;
   -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
.uneditable-input .glyphicon { float: left; margin-right: 5px; vertical-align: middle; margin-top: 2px; opacity: 0.5; }
.fileupload-preview { width: 400px; display: block; color: #666; }


