/* ======== FORMS ============ */


label, fieldset.options legend {
    float: left;
    padding: 0;
    width: 25%;
}
fieldset.options legend {
    margin-bottom: 0;
}
label, fieldset.options legend {
    color: #333333;
    display: block;
    font-size: 1em;
    font-weight: 400;
    line-height: 1;
    margin: 0.5em 0;
}

abbr[title="Required"] {
    border-bottom: 0 none;
    color: #990000;
    font-size:$font-size-small;;
    font-weight: $font-weight-normal;
    line-height: 0.1;
}

abbr {
    -moz-font-feature-settings: "c2sc";
    border: 0 none;
    letter-spacing: 0.03125em;
    line-height: 90%;
}

fieldset.options {
    margin: 0;
}
fieldset {
    border: 0 none;
    margin: 1.5em 0;
    padding: 0;
}

fieldset > div:first-of-type {
    margin-top: 0;
}
fieldset div {
    margin: 1em 0;
}

fieldset div em, fieldset div.submit, fieldset.options ul, label.check {
    margin-left: 25%;
}

fieldset em {
    color: #666666;
    display: block;
    font-size: $font-size-xx-small;
    line-height: 1.1429;
    margin: 0.5714em 0 0;
}

fieldset.options li {
    list-style: none outside none;
    margin-left: 0;
}

input[type="text"], select, textarea {	
	width:75%;
	border:1px solid #CCC;
	font-family: $typeface-primary;
    font-size: $font-size-small;
	color: $color-midtone;
	padding: 3px 4px;
	background-color: #ffffff;
    line-height: 1.5;
    margin: 0;
    padding: 0.50em;
    vertical-align: middle;
	@include box-sizing(border-box);
    @include border-radius(4px);

}


/* PLACEHOLDER */
::-webkit-input-placeholder {
   color: $color-midtone;
}

:-moz-placeholder { /* Firefox 18- */
   color: $color-midtone;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $color-midtone; 
}

:-ms-input-placeholder {  
   color: $color-midtone; 
}



.radio, .checkbox {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    min-height: 20px;
    position: relative;
}

.checkbox span{
    font-size:$font-size-x-small;
    color:#606060;
}

.form-group {
    display:block;
    margin-bottom: 15px;
}

.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: $color-midtone;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.form-control:focus {
    border-color: #66afe9;
    /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 2px rgba(102, 175, 233, 0.6);*/
    outline: 0 none;
}
.form-control::-moz-placeholder {
    color: #777;
    opacity: 1;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #eee;
    cursor: not-allowed;
    opacity: 1;
}
textarea.form-control {
    height: auto;
}


/* LOGIN/SIGNUP */

.form-control.username{background:#FAFFBA;width:100%;}
.form-control.password{background:#FAFFBA;}
.checkbox{float:left;}
.lostpassword{float:right;display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    min-height: 20px;
    position: relative;}
.lostpassword a{font-size:$font-size-x-small;}



/*SELECT STYLE*/
.select-style {
    border: 1px solid #ccc;
    width: 290px;
    border-radius: 4px;
    overflow: hidden;
    cursor:pointer;
    background: #FFFFFF url("../images/select-arrow.png") no-repeat 95% 50%;
}

.select-style select {
    padding: 5px 8px;
    cursor:pointer;
    width: 100%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}



/* CHECKBOX*/
label {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

input[type=checkbox].css-checkbox {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
    padding-left:20px;
    height:15px; 
    display:inline-block;
    line-height:15px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:15px;
    vertical-align:middle;
    cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -15px;
}

.css-label{
    width:100%;
}

input[type=checkbox].css-checkbox.lrg + label.css-label.lrg {
    padding-left:22px;
    height:20px; 
    display:inline-block;
    line-height:20px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:15px;
    vertical-align:middle;
    cursor:pointer;
    background-image:url(../images/checkbox.png);
}

input[type=checkbox].css-checkbox.lrg:checked + label.css-label.lrg{
    background-position: 0 -20px;
}


/* SHIPPING */
.panel.shipping .form-control{width:100%;}
.panel.shipping .continuepayment{width:270px;}
