/* ======== FORMS ============ */


label, fieldset.options legend {
    float: left;
    padding: 0;
    width: 25%;
}
fieldset.options legend {
    margin-bottom: 0;
}
label, fieldset.options legend {
    color: #333333;
    display: block;
    font-size: 1em;
    font-weight: 400;
    line-height: 1;
    margin: 0.5em 0;
}

abbr[title="Required"] {
    border-bottom: 0 none;
    color: #990000;
    font-size:$font-size-small;;
    font-weight: $font-weight-normal;
    line-height: 0.1;
}

abbr {
    -moz-font-feature-settings: "c2sc";
    border: 0 none;
    letter-spacing: 0.03125em;
    line-height: 90%;
}

fieldset.options {
    margin: 0;
}
fieldset {
    border: 0 none;
    margin: 1.5em 0;
    padding: 0;
}

fieldset > div:first-of-type {
    margin-top: 0;
}
fieldset div {
    margin: 1em 0;
}

fieldset div em, fieldset div.submit, fieldset.options ul, label.check {
    margin-left: 25%;
}

fieldset em {
    color: #666666;
    display: block;
    font-size: $font-size-xx-small;
    line-height: 1.1429;
    margin: 0.5714em 0 0;
}

fieldset.options li {
    list-style: none outside none;
    margin-left: 0;
}

input.text, select, textarea {	
	width:75%;
	border: 0 none;
	font: #{$font-size-small} #{$typeface-secondary};
	color: $color-midtone;
	padding: 3px 4px;
	background-color: #EEEEEE;
    line-height: 1.5;
    margin: 0;
    padding: 0.25em;
    vertical-align: middle;
	@include box-sizing(border-box);
}

input[type=text]:focus, 
textarea:focus {
	box-shadow: inset 0px 0px 5px rgba(18, 7, 6, 0.1); 
}


