/* ======== CUSTOM ============ */

/* PRELOADER */
#preloader {position:fixed;top:0;left:0;right:0;bottom:0;background-color:#fff;z-index:9999999;width:100%;height:100%;}
#status {width:200px;height:200px;position:absolute;left:50%;top:50%;margin:-100px 0 0 -100px;color:#fff;text-align:center;}


/* HEADER */
.header{
	@extend .block-position;
	overflow:visible;
}

.header-top{
	background:#d8d8d8;
	padding:10px 0px 7px;
	min-height:30px;
	@extend .block-position;
}

.header-top .container{
	height:30px;
}

.header-top .contact-us{
	float:left;
	margin:4px 30px 0 0;
	font-family: $typeface-third;
	font-weight:$font-weight-bold;
}

.header-top .contact-us span{
	color:$color-accent;
}


.header-main{
	background:#231f20;
	min-height:50px;
	@extend .block-position;
	overflow:visible;
	box-shadow:0px 3px 6px #777;
}

.header-main .container{
	@extend .block-position;
	min-height:70px;
	overflow:visible;
}

.header-main .logo{
	@include abs-pos(16px,0,0,40px);
}

.header-main .logo a{
	width:100px;
	height:50px;
}



/* MENUS */
.header-main .navigation-menu{
	@extend .block-position;
	float: right;
	min-height:70px;
	overflow:visible;
}

.menu-main{
	@extend .block-position;
	float:left;
	padding: 25px 0;	
	overflow:visible;
}

.menu-main ul{
	list-style:none;
}

.menu-main ul li, .menu-login ul li{
	float:left;
	margin-right:40px;
	position:relative;
}

.menu-main ul li:last-child, .menu-login ul li:last-child{
	margin-right:0px;
}

.menu-main ul li a, .menu-login ul li a{
	font-family: $typeface-primary;
	font-weight: $font-weight-light;
	color:$color-highlight;
	font-style:normal;
}

.menu-cart{
	float:left;
	border-left:1px solid #403f3f;
	border-right:1px solid #403f3f;
	margin:15px 10px 15px 30px;
    padding: 5px 15px;
}

.menu-cart a{
	color:$color-highlight;
	text-decoration:none;
}

.menu-cart i{
	color:$color-highlight;
	margin-right:7px;
	font-size:30px;
}

.menu-cart a span{
	color:$color-accent;
	vertical-align: middle;
}

.menu-cart a:hover i{
	color:$color-accent;
	text-decoration:none;
	transition: all 0.5s ease 0s;
}


.menu-login{
	@extend .block-position;
	float:left;
	padding: 25px 0;
}


/* SEARCH */

.search-form{
	display: inline-block;
	@extend .block-position;	
}

.search-input{
	width: 150px;
	background:#0381f4;
	color:$color-highlight;
	font-size:$font-size-small;
	border:none;
	padding:7px 40px 4px 10px;
	@include border-radius(7px);
}

.button-search{
	border:none;
	background:none;
	position: absolute;
    right: 4px;
    top: 5px;
}

.button-search i{
	color:$color-highlight;
	font-size:18px;
}



/*DROPDOWN MENU*/
.dropdown-menu {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    display: none;
    float: left;
    font-size: 14px;
    left: -99px;
    list-style: none outside none;
    margin: 30px 0 0;
    min-width: 160px;
    padding:0px;
    position: absolute;
    top: 100%;
    z-index: 1000;
}

.dropdown-menu:before{
	width: 0; height: 0; 
	border-left: 25px solid transparent; 
	border-right: 25px solid transparent; 
	border-bottom: 25px solid white;
	position: absolute;
	top: -25px;
	left: 40%;
	width:0px;
	content:"";
	text-align: center;
	font-size: 14px;
	line-height: 1.2;
}

.dropdown-menu.pull-right {
    left: auto;
    right: 0;
}
.dropdown-menu .divider {
    background-color: #E5E5E5;
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
}
.dropdown-menu > li > a {
    clear: both;
    color: $color-accent !important;
    display: block;
    font-weight: 400;
    line-height: 1.42857;
    padding: 7px 20px;
    white-space: nowrap;
    font-size:16px !important;
    text-transform:uppercase !important;
    text-align:center;
}

.dropdown-menu > li {
	float:none !important;
	margin:0px !important;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #0381F4;
    color: $color-highlight !important;
    text-decoration: none;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #428BCA;
    color: #FFFFFF;
    outline: 0 none;
    text-decoration: none;
}
.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
    color: #999999;
}
.dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    cursor: not-allowed;
    text-decoration: none;
}

.open > .dropdown-menu {
    display: block;
}
.open > a {
    outline: 0 none;
}



/*BANNER/SLIDER*/

.banner{
	position:relative;
	margin:20px 0;
}

#carousel {
	overflow: hidden;
}

#carousel .slide{
	position:relative;
	float:left;    
}

.carousel-control {
    bottom: 0;
    color: #FFFFFF;
    left: 0;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    top: 0;
    width: 15%;
    height:100%;
}


.carousel-control.left {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0px, rgba(0, 0, 0, 0) 100%);
    background-repeat: repeat-x;
}
.carousel-control.right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.5) 100%);
    background-repeat: repeat-x;
    left: auto;
    right: 0;
}
.carousel-control:hover, .carousel-control:focus {
    color: #FFFFFF;
    opacity: 0.9;
    outline: 0 none;
    text-decoration: none;
}

.carousel-control.left i {
    display: inline-block;
    position: absolute;
    top: 40%;
    left:30%;
    z-index: 5;
    color:#fff;
    font-size:60px;
}

.carousel-control.right i {
    display: inline-block;
    position: absolute;
    top: 40%;
    right:30%;
    z-index: 5;
    color:#fff;
    font-size:60px;
}


/*FOOTER*/
.footer{
	background:#E5E5E5;
}

.footer .container{
	padding-top:40px;
	padding-bottom:40px;
}

.footer-info{
	@extend .block-position;
}

.footer-info{
	list-style:none;
	margin:0px 0 0 0;
	padding:0px;
}

.footer-info li{
	float:left;
	width:20%;
	padding:0 20px;
}

.footer-info li:first-child{
	padding-left:0px;
}

.footer-info li:last-child{
	padding-right:0px;
}











@media screen and (-webkit-min-device-pixel-ratio:0) {
    
}

